<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin User</title>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <script src="/webjars/jquery/jquery.min.js"></script>

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div th:insert="~{fragments/admin-menu :: #nav-menu}"></div>

<form th:action="@{/templates/admin/users/{id}(id=${userDTO.id})}" th:object="${userDTO}" th:method="PUT">

    <input type="text" th:field="*{firstname}"/> <br>
    <input type="text" th:field="*{lastname}"/><br>
    <input type="text" th:field="*{email}"/><br>
    <div th:text="*{role}"></div>

    <button type="submit">Save</button>

</form>


</body>
</html>