<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/meta :: meta}"></th:block>

    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <title>Edit Filter</title>


</head>
<body>
<div th:insert="~{fragments/admin-menu :: #admin-menu-fragment}"></div>

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar">
                            <div class="sidebar__categories">
                                <div class="checkout__form__input">
                                    <h5 class="text-center">Атрибуты</h5>
                                </div>
                                <div class="categories__accordion">
                                    <div class="accordion" id="accordionExample">
                                        <div class="list-group" th:each="attribute, stat : ${filter.attributes}">
                                            <div class="row border-right">
                                                <div class="col-10">
                                                    <a th:href="@{/admin/filters/{id}/attributes/{att_id}(id=${filter.id}, att_id=${attribute.id})}"
                                                       class="list-group-item list-group-item-action">
                                                        <span th:text="${filter.attributes['__${stat.index}__'].attributeTitles['__${language.id}__']}">title</span>
                                                    </a>
                                                </div>
                                                <div class="col-1">
                                                    <form th:method="DELETE"
                                                          th:action="@{/admin/filters/{id}/attributes/{att_id}(id=${filter.id}, att_id=${attribute.id})}">
                                                        <input type="submit" value="X">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-center">Название</h5>
                            <form th:action="@{/admin/filters/{id}(id=${filter.id})}" th:object="${filter}" th:method="PUT">
                                <div th:each="entry : ${filter.filterTitles.entrySet()}">
                                    <div class="checkout__form__input">
                                        <input type="text" th:field="*{filterTitles['__${entry.key.id}__']}"
                                               th:placeholder="${entry.key.title}"/>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="site-btn">Сохранить</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-center border-top mt-3 pt-2">Добавить Атрибут</h5>
                            <form th:method="POST" th:action="@{/admin/filters/{id}/attributes(id=${filter.id})}" th:object="${newAttribute}">
                                <input type="text" th:field="${newAttribute.id}" hidden/>
                                <div th:each="entry : ${newAttribute.attributeTitles.entrySet()}">
                                    <div class="checkout__form__input">
                                        <input type="text" th:field="*{attributeTitles['__${entry.key.id}__']}"
                                               th:placeholder="${entry.key.title}"/>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="site-btn">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Shop Section End -->


<!-- Footer Begin -->
<div th:insert="~{fragments/footer :: #footer-fragment}"></div>
<!-- Footer End -->

<!-- Js Plugins -->
<th:block th:insert="~{fragments/js-plugins :: script}"></th:block>
</body>

</html>