<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="OrderN + ' ' + ${order.id}">title</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div th:insert="~{fragments/admin-menu :: #nav-menu}"></div>




<form th:action="@{/admin/orders/{id}(id=${order.id})}" th:object="${order}" th:method="PUT">
    <table border="1" align="center">
        <tr>
            <th>User</th>
            <th>Created Date</th>
            <th>Sum</th>
            <th>Status</th>
        </tr>

        <td>
            <div th:text="${order.user.id}">user.id</div>
        </td>
        <td>
            <input type="text" hidden th:field="${order.created}">
            <div th:text="${#temporals.format(order.created,'dd MMMM yyyy HH:mm')}">created</div>
        </td>

        <td>
            <div th:text="${order.sum}">sum</div>
        </td>
        <td>
            <div th:text="${order.status}">status</div>
        </td>

    </table>

    <table border="1" align="center">
        <tr>
            <th>Pic</th>
            <th>name</th>
            <th>id</th>
            <th>price</th>
        </tr>

        <tr th:each="detail : ${order.details}">
            <td>
                <a th:href="@{/products/{id}(id=${detail.product.id})}">
                    <img th:src="@{/image/{id}(id=${detail.product.previewImage.id})}" height="60px"
                         th:alt="${detail.product.productTitles['__${language.id}__']}">
                </a>
            </td>

            <td th:text="${detail.product.productTitles['__${language.id}__']}">productTitles</td>
            <td th:text="${detail.product.id}">product.id</td>
            <td th:text="${detail.product.price}">price</td>
        </tr>
    </table>

    <hr>

    <div>Status</div>
    <div th:each="status : ${orderStatuses}">
        <input type="radio" th:field="${order.status}" name="status"
               th:value="${status}">
        <span th:text="${status}">title</span>
    </div>

    <input type="submit" th:value="Обновить">
</form>


</body>
</html>