<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/meta :: meta}"></th:block>
    >

    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <title>Edit Attribute</title>


</head>
<body>
<div th:insert="~{fragments/admin-menu :: #admin-menu-fragment}"></div>


<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row text-center">
                <div class="col-8">
                    <h5 class="text-center">Название Фильтра</h5>
                    <form th:action="@{/admin/filters/{id}/attributes/{att_id}(id=${filterId}, att_id=${attribute.id})}"
                          th:object="${attribute}" th:method="PUT">
                        <div th:each="entry : ${attribute.attributeTitles.entrySet()}">
                            <div class="checkout__form__input">
                                <input type="text" th:field="*{attributeTitles['__${entry.key.id}__']}"
                                       th:placeholder="${entry.key.title}"/>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="site-btn">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->


<!-- Footer Begin -->
<div th:insert="~{fragments/footer :: #footer-fragment}"></div>
<!-- Footer End -->

<!-- Js Plugins -->
<th:block th:insert="~{fragments/js-plugins :: script}"></th:block>
</body>

</html>