<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:insert="~{fragments/meta :: meta}"></th:block>

    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <title>Admin Categories</title>

</head>
<body>
<div th:insert="~{fragments/admin-menu :: #admin-menu-fragment}"></div>

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product__details__button text-center"
                     sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
                    <a th:href="@{/admin/categories/{id}/new-category(id=0)}" class="site-btn">
                        New Category
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <span th:each="category : ${categories}">
                <div class="col-lg-4 col-md-6">
                     <div class="product__item">
                          <div class="product__item__pic set-bg ">
                              <a th:href="@{/admin/categories/{id}(id=${category.id})}">
                                 <img th:src="@{/image/{id}(id=${category.image.id})}"
                                      th:alt="${category.categoryTitles['__${language.id}__']}">
                              </a>
                              <ul class="product__hover">
                                  <li>
                                      <form th:method="DELETE"
                                            th:action="@{/admin/categories/{id}(id=${category.id})}">
                                          <button type="submit" class="icon_close"></button>
                                      </form>
                                  </li>
                              </ul>
                          </div>
                         <div class="product__item__text">
                             <h6>
                                  <a th:href="@{/admin/categories/{id}(id=${category.id})}"
                                     th:text="*{category.categoryTitles['__${language.id}__']}">title
                                 </a>
                             </h6>
                         </div>
                     </div>
                </div>
            </span>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<!-- Footer Begin -->
<div th:insert="~{fragments/footer :: #footer-fragment}"></div>
<!-- Footer End -->

<!-- Js Plugins -->
<th:block th:insert="~{fragments/js-plugins :: script}"></th:block>
</body>

</html>