<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Categories</title>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <script src="/webjars/jquery/jquery.min.js"></script>

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div th:insert="~{fragments/admin-menu :: #nav-menu}"></div>


<div sec:authorize="hasAnyAuthority('SUPERADMIN', 'MANAGER')">
    <a th:href="@{/templates/admin/categories/{id}/new-category(id=0)}">New Category</a>
</div>

<div th:each="category : ${categories}">
    <a th:href="@{/templates/admin/categories/{id}(id=${category.id})}">
        <img th:src="@{/image/{id}(id=${category.image.id})}" height="60px"
             th:alt="${category.categoryTitles['__${language.id}__']}">
        <br>
        <span th:text="*{category.categoryTitles['__${language.id}__']}">title</span>
    </a>
    <div>
        <form th:method="DELETE" th:action="@{/templates/admin/categories/{id}(id=${category.id})}">
            <input type="submit" value="Удалить Категорию">
        </form>
    </div>
</div>

</body>
</html>