<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>[[#{menu.orders}]]</title>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <script src="/webjars/jquery/jquery.min.js"></script>

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div th:insert="~{fragments/admin-menu :: #nav-menu}"></div>


<ul th:each="status : ${orderStatuses}">
    <li><a th:href="@{/admin/orders(status=${status})}" th:text="${status}">link</a></li>
</ul>


<hr>
<table border="1" align="center">
    <tr>
        <th>id</th>
        <th>Date</th>
        <th>Status</th>
        <th>Sum</th>
        <th></th>
    </tr>
    <span th:unless="${#lists.isEmpty(orders)}">
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}">id</td>
            <td th:text="${#temporals.format(order.created,'dd MMMM yyyy HH:mm')}">created</td>
            <td th:text="${order.status}">status</td>
            <td th:text="${order.sum}">sum</td>

            <td>
                <a th:href="@{/admin/orders/{id}(id=${order.id})}">
                    Detail
                </a>
            </td>
        </tr>
    </span>
</table>


</body>
</html>