<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add Filter</title>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div th:insert="~{fragments/admin-menu :: #nav-menu}"></div>


<form th:method="POST" th:action="@{/templates/admin/filters}" th:object="${filter}" enctype="multipart/form-data">
    <table align="center">
        <div th:each="entry : ${filter.filterTitles.entrySet()}">
            <div>
                <label th:for="*{filterTitles['__${entry.key.id}__']}" th:text="${entry.key.title}">Language</label>
                <input type="text" th:field="*{filterTitles['__${entry.key.id}__']}" />
            </div>
        </div>
        <tr>
            <input type="submit" value="Add"/>
        </tr>
    </table>
</form>

</body>
</html>