<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <title>Add Category</title>


</head>
<body>
<div th:insert="~{fragments/admin-menu :: #admin-menu-fragment}"></div>

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <form th:method="POST" th:action="@{/admin/categories}" th:object="${category}" enctype="multipart/form-data"
              class="checkout__form">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar">
                            <div class="sidebar__categories">
                                <div class="checkout__form__input">
                                    <h5 class="text-center">Верхняя категория</h5>
                                </div>
                                <div class="categories__accordion">
                                    <div class="accordion" id="accordionExample">
                                        <div th:each="category, stat : ${categories}">
                                            <input type="radio" th:field="*{parentCategory}" name="parentCategory"
                                                   th:value="${categories['__${stat.index}__'].id}">
                                            <span th:text="${category.categoryTitles['__${language.id}__']}">title</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="checkout__form__input">
                                <h5 class="text-center">Картинка категории</h5>
                                <input type="file" name="file">
                            </div>

                            <div class="text-center">
                                <button type="submit" class="site-btn">Создать</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-center">Название</h5>
                            <span th:each="entry : ${category.categoryTitles.entrySet()}">
                                <div class="checkout__form__input">
                                    <input type="text" th:field="*{categoryTitles['__${entry.key.id}__']}"
                                           th:placeholder="${entry.key.title}"/>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shop Section End -->

<!-- Footer Begin -->
<div th:insert="~{fragments/footer :: #footer-fragment}"></div>
<!-- Footer End -->

<!-- Js Plugins -->
<th:block th:insert="~{fragments/js-plugins :: script}"></th:block>
</body>

</html>