<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Include the default stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.css">
    <!-- Include plugin -->
    <script src="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.js"></script>

    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <title>Add Product</title>


</head>
<body>
<div th:insert="~{fragments/admin-menu :: #admin-menu-fragment}"></div>


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a th:href="@{/admin}"><i class="fa fa-home"></i>[[#{menu.home}]]</a>
                    <span>Создание Нового Товара</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <form th:method="POST" th:action="@{/admin/products}" th:object="${product}" enctype="multipart/form-data"
              class="checkout__form">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar">
                            <div class="sidebar__categories">
                                <div class="filter-title-attributes">
                                    <h6>[[#{menu.categories}]]</h6>
                                </div>
                                <div class="categories__accordion">
                                    <div class="accordion" id="accordionExample">
                                        <span th:each="parentCtegory : ${categories}">
                                            <span th:if="${parentCtegory.parentCategory == null}">
                                                <div class="card">
                                                    <div class="card-heading active">
                                                        <a data-toggle="collapse" data-target="#collapseOne"
                                                           th:text="${parentCtegory.categoryTitles['__${language.id}__']}">parentTitle
                                                        </a>
                                                    </div>
                                                    <div id="collapseOne" class="collapse show"
                                                         data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <ul>
                                                                <li>
                                                                    <label th:for="${parentCtegory.categoryTitles['__${language.id}__']}">
                                                                        <input type="checkbox" name="categories"
                                                                               th:id="${parentCtegory.categoryTitles['__${language.id}__']}"
                                                                               th:field="*{categories}"
                                                                               th:value="${parentCtegory.id}">
                                                                        <span th:text="${parentCtegory.categoryTitles['__${language.id}__']}">title</span>
                                                                    </label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <span th:each="childCategory : ${categories}">
                                                             <span class="checkmark"></span>
                                                             <span th:if="${childCategory.parentCategory == parentCtegory}">
                                                                <div class="card-body">
                                                                    <ul>
                                                                        <li>
                                                                            <label th:for="${childCategory.categoryTitles['__${language.id}__']}">
                                                                                <input type="checkbox" name="category"
                                                                                       th:id="${childCategory.categoryTitles['__${language.id}__']}"
                                                                                       th:field="${product.categories}"
                                                                                       th:value="${childCategory.id}">
                                                                                   <span th:text="${childCategory.categoryTitles['__${language.id}__']}">title</span>
                                                                                <span class="checkmark"></span>
                                                                            </label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar__categories" th:each="filter : ${filters}">
                                <div class="filter-title-attributes">
                                    <h6 th:text="${filter.filterTitles['__${language.id}__']}"></h6>
                                </div>
                                <div th:each="attribute : ${filter.attributes}">
                                    <input type="checkbox" th:field="${product.attributes}" name="attribute"
                                           th:value="${attribute.id}">
                                    <span th:text="${attribute.attributeTitles['__${language.id}__']}">title</span>
                                </div>
                            </div>

                            <div class="checkout__form__input">
                                <h5 class="text-center">Цена</h5>
                                <input type="number" name="price" th:field="${product.price}">
                            </div>

                            <div class="checkout__form__input">
                                <h5 class="text-center">Добавить фото</h5>
                                <input type="file" name="files" multiple="multiple">
                            </div>

                            <div class="text-center">
                                <button type="submit" class="site-btn">Создать</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-center">Название</h5>
                            <span th:each="entry : ${product.productTitles.entrySet()}">
                            <div class="checkout__form__input">
                                <input type="text" th:field="*{productTitles['__${entry.key.id}__']}"
                                       th:placeholder="${entry.key.title}"/>
                            </div>
                    </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-center">Описание</h5>
                            <span th:each="entry : ${product.descriptions.entrySet()}">
                                <div class="formProductTextarea">
                                    <textarea th:field="*{descriptions['__${entry.key.id}__']}"
                                              th:placeholder="${entry.key.title}">
                                    </textarea>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="text-center">Обьеденить с товаром</h5>
                            <div class="row">
                                <span th:each="item : ${AllProducts}">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="product__item">
                                             <div class="product__item__pic set-bg">
                                                 <a th:href="@{/admin/products/{id}(id=${item.id})}">
                                                     <img th:src="@{/image/{id}(id=${item.previewImage.id})}"
                                                          th:alt="${product.productTitles['__${language.id}__']}"><br>
                                                     <input type="checkbox" th:field="*{products}" name="products" th:value="${item.id}">
                                                 </a>
                                             </div>
                                            <div class="product__item__text">
                                                <h6>
                                                    <a th:href="@{/admin/products/{id}(id=${item.id})}"
                                                       th:text="${item.productTitles['__${language.id}__']}">title
                                                    </a>
                                                </h6>
                                                <div class="product__price" th:text="${item.price}">price</div>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shop Section End -->


<!-- Footer Begin -->
<div th:insert="~{fragments/footer :: #footer-fragment}"></div>
<!-- Footer End -->

<!-- Js Plugins -->
<th:block th:insert="~{fragments/js-plugins :: script}"></th:block>
</body>

</html>