<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <title>Add Product</title>


</head>
<body>
<div th:insert="~{fragments/admin-menu :: #admin-menu-fragment}"></div>


<form th:method="POST" th:action="@{/admin/outfits}" th:object="${outfit}" enctype="multipart/form-data">
    <table align="center">
        <div th:each="entry : ${outfit.outfitTitles.entrySet()}">
            <div>
                <label th:for="*{outfitTitles['__${entry.key.id}__']}" th:text="${entry.key.title}">Language</label>
                <input type="text" th:field="*{outfitTitles['__${entry.key.id}__']}"/>
            </div>
        </div>

        <div th:each="product : ${products}">
            <input type="checkbox" th:field="${outfit.products}" name="products" th:value="${product.id}">
            <span th:text="${product.productTitles['__${language.id}__']}">title</span>
        </div>

        <div>
            <div>Images</div>
            <input type="file" name="files" multiple="multiple">
        </div>

        <div>
            <input type="submit" value="Add"/>
        </div>

    </table>
</form>

<!-- Footer Begin -->
<div th:insert="~{fragments/footer :: #footer-fragment}"></div>
<!-- Footer End -->

<!-- Js Plugins -->
<th:block th:insert="~{fragments/js-plugins :: script}"></th:block>
</body>

</html>