<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <title>[[#{menu.card}]]</title>
</head>

<body>
<div th:insert="~{fragments/header :: #header-fragment}"></div>


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="index.html"><i class="fa fa-home"></i>[[#{menu.home}]]</a>
                    <span>[[#{menu.card}]]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th>[[#{order.table.row.Product}]]</th>
                            <th>[[#{order.table.row.ProductPrice}]]</th>
                            <th>[[#{order.table.row.Amount}]]</th>
                            <th>[[#{order.table.row.Sum}]]</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="detail : ${bucketDTO.bucketDetails}">
                        <tr>
                            <td class="cart__product__item">

                                <a th:href="@{/products/{id}(id=${detail.productId})}">
                                    <img th:src="@{/image/{id}(id=${detail.previewImage.id})}" height="60px"
                                         th:alt="${detail.productTitles['__${language.id}__']}">
                                    <div class="cart__product__item__title">
                                        <h6 th:text="${detail.productTitles['__${language.id}__']}">title</h6>
                                    </div>
                                </a>
                            </td>
                            <td class="cart__price" th:text="${detail.price + ' UAH'}">$ 150.0</td>
                            <td class="cart__quantity" th:text="${detail.amount}">cart__quantity</td>
                            <td class="cart__total" th:text="${detail.sum + ' UAH'}">"$ 300.0</td>
                            <td class="cart__close">
                                <form th:method="DELETE" th:action="@{/bucket/{id}(id=${detail.productId})}">
                                    <button class="icon_close" type="submit"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <!--            <div class="col-lg-6">-->
            <!--                <div class="discount__content">-->
            <!--                    <h6>Discount codes</h6>-->
            <!--                    <form action="#">-->
            <!--                        <input type="text" placeholder="Enter your coupon code">-->
            <!--                        <button type="submit" class="site-btn">Apply</button>-->
            <!--                    </form>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="col-4 m-auto">
                <div class="cart__total__procced">
                    <ul>
                        <li>[[#{bucket.cardTotal}]] <span th:text="${bucketDTO.sum + ' UAH'}">$ 750.0</span></li>
                    </ul>
                    <div th:if="${not #lists.isEmpty(bucketDTO.bucketDetails)}">
                        <form th:method="POST" th:action="@{/orders}">
                            <button type="submit" class="site-btn">[[#{bucket.button.createOrder}]]</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->


<!-- Footer Begin -->
<div th:insert="~{fragments/footer :: #footer-fragment}"></div>
<!-- Footer End -->

<!-- Js Plugins -->
<th:block th:insert="~{fragments/js-plugins :: script}"></th:block>
</body>

</html>