<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <title th:text="*{category.categoryTitles['__${language.id}__']}"></title>
</head>

<body>
<div th:insert="~{fragments/header :: #header-fragment}"></div>

<span th:text="*{category.categoryTitles['__${language.id}__']}">title</span>

<div th:each="sub: ${categories}">
    <a th:href="@{/categories/{id}(id=${sub.id})}">
        <img th:src="@{/image/{id}(id=${sub.image.id})}" height="60px"
             th:alt="${category.categoryTitles['__${language.id}__']}">
        <br>
        <span th:text="*{sub.categoryTitles['__${language.id}__']}">title</span>
    </a>
</div>

<hr>

<div th:each="product : ${products}">
    <a th:href="@{/products/{id}(id=${product.id})}">
        <img th:src="@{/image/{id}(id=${product.previewImage.id})}" height="60px"
             th:alt="${product.productTitles['__${language.id}__']}">
        <br>
        <span th:text="*{product.productTitles['__${language.id}__']}">title</span>
    </a>
</div>


</body>
</html>