<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <title>[[#{order.checkout}]]</title>
    <style>
        .hide {
            display: none;
        }
    </style>
</head>

<body>
<div th:insert="~{fragments/header :: #header-fragment}"></div>

<!--    <td th:text="${#temporals.format(order.created,'dd MMMM yyyy HH:mm')}">created</td>-->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="index.html"><i class="fa fa-home"></i>[[#{menu.home}]]</a>
                    <span>[[#{order.checkout}]]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->



<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <form class="checkout__form" th:method="POST" th:action="@{/orders/{id}/checkout(id=${order.id})}"
              th:object="${delivery}">
            <div class="row">
                <div class="col-lg-8">
                    <h5>[[#{checkout.contactInfo}]]</h5>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>[[#{registration.firstname}]] <span>*</span></p>
                                <input type="text" required th:field="${delivery.order.user.firstname}"/>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>[[#{registration.lastname}]] <span>*</span></p>
                                <input type="text" required th:field="${delivery.order.user.lastname}"/>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>[[#{registration.email}]] <span>*</span></p>
                                <input type="text" required th:field="${delivery.order.user.email}"/>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>[[#{registration.phone}]] <span>*</span></p>
                                <input type="tel" required th:field="${delivery.order.user.phone}"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="checkout__order">
                        <h5>[[#{order.yourOrderTitle}]]</h5>
                        <div class="checkout__order__product">
                            <ul>
                                <li>
                                    <span class="top__text">[[#{order.table.row.Product}]]</span>
                                    <span class="top__text__right">[[#{bucket.cardTotal}]]</span>
                                </li>
                                <li>
                                    <ul th:each="detail : ${order.details}">
                                        <li>
                                            <th:block th:text="${detail.product.productTitles['__${language.id}__']}">
                                                title
                                            </th:block>
                                            <span th:text="${detail.price + ' UAH'}">$ 300.0</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="checkout__order__total">
                            <ul>
                                <li>[[#{bucket.cardTotal}]] <span th:text="${order.sum + ' UAH'}">$ 750.0</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <h5>[[#{checkout.delivery.method}]]</h5>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="checkout__form__input mr-2" for="novaPoshta">
                                <p th:text="#{checkout.delivery.method.novaPoshta}">title</p>
                            </label>
                            <input type="radio"
                                   th:field="${delivery.postDetails.postMethod}" id="novaPoshta" name="postMethod"
                                   th:value="#{checkout.delivery.method.novaPoshta}" onclick="showNovaPoshta();">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="checkout__form__input mr-2" for="ukrPoshta">
                                <p th:text="#{checkout.delivery.method.urkPoshta}">title</p>
                            </label>
                            <input type="radio"
                                   th:field="${delivery.postDetails.postMethod}" id="ukrPoshta" name="postMethod"
                                   th:value="#{checkout.delivery.method.urkPoshta}" onclick="showUkrPoshta();">
                        </div>
                    </div>
                    <div id="showNovaPoshta" class="hide">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>[[#{text.novaposhta.enter.cityName}]] <span>*</span></p>
                                    <input type="text" id="city-options">
                                    <p>[[#{text.novaposhta.enter.Warehouses}]] <span>*</span></p>
                                    <select class="form-select" id="post-options"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="showUkrPoshta" class="hide">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">

                                <div class="checkout__form__input">
                                    <p>[[#{checkout.delivery.city}]] <span>*</span></p>
                                    <input type="text" required th:field="${delivery.postDetails.city}" id="city"
                                           class="city"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>[[#{checkout.delivery.index}]]: <span>*</span></p>
                                    <input type="text" required th:field="${delivery.postDetails.postIndex}" id="index"
                                           class="index"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">

                                <div class="checkout__form__input">
                                    <p>[[#{checkout.delivery.address}]]: <span>*</span></p>
                                    <input type="text" required th:field="${delivery.postDetails.address}" id="address"
                                           class="address"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="site-btn mt-4" onclick="confirmInfo()">
                    [[#{bucket.button.createOrder}]]
                </button>
            </div>
        </form>
    </div>
</section>
<!-- Checkout Section End -->

<!--<button type="button" onclick="confirmInfo()"></button>-->

<script>
    function showNovaPoshta() {
        document.getElementById('showUkrPoshta').style.display = 'none';
        document.getElementById('showNovaPoshta').style.display = 'block';
    }

    function showUkrPoshta() {
        document.getElementById('showNovaPoshta').style.display = 'none';
        document.getElementById('showUkrPoshta').style.display = 'block';
    }
</script>
<script>
    const cityOptions = document.querySelector("#city-options");
    const postOptions = document.querySelector("#post-options");

    cityOptions.addEventListener('input', function () {
        const city = cityOptions.value;
        postOptions.innerHTML = '';


        const API_KEY = '[[${apiKey}]]';
        const LIMIT = 555;
        const API_URL = `https://api.novaposhta.ua/v2.0/json/`;

        fetch(API_URL, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                modelName: 'Address',
                calledMethod: 'getWarehouses',
                methodProperties: {
                    CityName: city,
                    Limit: LIMIT
                },
                apiKey: API_KEY
            })
        })
            .then(response => response.json())
            .then(data => {
                data.data.forEach(entry => {
                    addPostOption(entry.Description);
                });
            })
            .catch(error => console.error(error));
    });

    function addPostOption(description) {
        const option = document.createElement('option');
        option.value = description;
        option.textContent = description;
        postOptions.appendChild(option);
    }

    function confirmInfo() {
        selectElement = document.querySelector('#city-options');
        var city = selectElement.value;

        selectElement = document.querySelector('#post-options');
        var index = selectElement.value;

        var addressField = 'NovaPoshta';

        $('#city').val(city);
        $('#index').val(index);
        $('#address').val(addressField);
    }
</script>


</body>
</html>