<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>[[#{order.checkout}]]</title>

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="1" align="center">
    <tr>
        <th>[[#{order.table.row.CreatedDate}]]</th>
        <th>[[#{order.table.row.Sum}]]</th>
    </tr>

    <td th:text="${#temporals.format(order.created,'dd MMMM yyyy HH:mm')}">created</td>
    <td th:text="${order.sum}">sum</td>
</table>

<table border="1" align="center">
    <tr>
        <th>[[#{order.table.row.ProductId}]]</th>
        <th></th>
        <th>[[#{order.table.row.ProductName}]]</th>
        <th>[[#{order.table.row.ProductPrice}]]</th>
    </tr>

    <tr th:each="detail : ${order.details}">
        <td th:text="${detail.product.id}">id</td>
        <td>
            <a th:href="@{/products/{id}(id=${detail.product.id})}">
                <img th:src="@{/image/{id}(id=${detail.product.previewImage.id})}" height="60px"
                     th:alt="${detail.product.productTitles['__${language.id}__']}">
            </a>
        </td>

        <td th:text="${detail.product.productTitles['__${language.id}__']}">productTitles</td>
        <td th:text="${detail.product.price}">price</td>

        <div th:if="${#strings.equals(order.status, 'NEW')}">
            <td>
                <form th:method="DELETE"
                      th:action="@{/orders/{id}/{product_id}(id=${order.id}, product_id=${detail.id})}">
                    <input type="submit" th:value="#{bucket.button.cancel}">
                </form>
            </td>
        </div>
    </tr>
</table>

<div>
    <form th:method="POST" th:action="@{/orders/{id}/checkout(id=${order.id})}" th:object="${delivery}">

<!--        <fieldset>-->
<!--            <legend>[[#{checkout.delivery.method}]]</legend>-->
<!--            <div>-->
<!--                <input type="radio" th:field="*{delivery.postMethod}" id="postMethod" name="novaPoshta"-->
<!--                       th:value="" checked>-->
<!--                <span th:text="#{checkout.delivery.method.novaPoshta}">title</span>-->
<!--            </div>-->
<!--            <div>-->
<!--                <input type="radio" th:field="*{delivery.postMethod}" id="postMethod" name="ukrPoshta"-->
<!--                       th:value="" checked>-->
<!--                <span th:text="#{checkout.delivery.method.ukrPoshta}">title</span>-->
<!--            </div>-->
<!--        </fieldset>-->

        <input type="submit" th:value="#{order.checkout}">
    </form>
</div>


</body>
</html>