<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:insert="~{fragments/head :: link}"></th:block>
<title>[[#{profile.editPass}]]</title>
</head>

<body>
<div th:insert="~{fragments/header :: #header-fragment}"></div>

<form th:method="POST" th:action="@{/profile/updatePassword}" th:object="${passwordDto}">
    <label for="oldPassword">[[#{profile.oldPassword}]]: </label>
    <input type="text" th:field="*{oldPassword}" id="oldPassword"/>
    <div style="color: red" th:if="${#fields.hasErrors('oldPassword') }" th:errors="*{oldPassword}">oldPassword error</div>

    <br>
    <label for="newPassword">[[#{profile.newPassword}]]: </label>
    <input type="text" th:field="*{newPassword}" id="newPassword"/>
    <div style="color: red" th:if="${#fields.hasErrors('newPassword') }" th:errors="*{newPassword}">newPassword error</div>

    <br>
    <label for="matchingPassword">[[#{profile.matchingPassword}]]: </label>
    <input type="text" th:field="*{matchingPassword}" id="matchingPassword"/>
    <div style="color: red" th:if="${#fields.hasErrors('matchingPassword') }" th:errors="*{matchingPassword}">matchingPassword error</div>

    <button type="submit">[[#{profile.save}]]</button>
</form>

</body>
</html>