<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head>
    <meta charset="UTF-8">
    <title>[[#{profile.editPass}]]</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>


<form th:method="POST" th:action="@{/profile}" th:object="${userDTO}">

    

    <br>
    <label for="password">[[#{profile.password}]]: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password') }" th:errors="*{password}">password error</div>

    <br>
    <label for="matchingPassword">[[#{profile.matchingPassword}]]: </label>
    <input type="password" th:field="*{matchingPassword}" id="matchingPassword"/>
    <div style="color: red" th:if="${#fields.hasErrors('matchingPassword') }" th:errors="*{matchingPassword}">matchingPassword error</div>
    <br>
    <button type="submit">[[#{profile.save}]]</button>
</form>

</body>
</html>