<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<p th:if="${loginError}" class="error">wrong name or password</p>

<form th:action="@{/auth}" method="post">
  <table border="1">
    <tr>
      <td>Name</td>
      <td><input type="text" name="username"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="password"></td>
    </tr>
  </table>
  <button type="submit">Log in</button>
</form>


</body>
</html>