<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <title>[[#{menu.orders}]]</title>
</head>

<body>
<div th:insert="~{fragments/header :: #header-fragment}"></div>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="index.html"><i class="fa fa-home"></i>[[#{menu.home}]]</a>
                    <span>[[#{menu.orderList}]]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th>[[#{order.table.row.CreatedDate}]]</th>
                            <th>[[#{order.table.row.Status}]]</th>
                            <th>[[#{order.table.row.Sum}]]</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="order : ${orders}">
                        <tr>
                            <td class="cart__product__item" th:text="${#temporals.format(order.created,'dd MMMM yyyy HH:mm')}">created</td>
                            <td class="cart__quantity" th:text="${order.status}">status</td>
                            <td class="cart__price" th:text="${order.sum}">sum</td>

                            <td th:if="${order.status.name() == 'NEW'}">
                                <a th:href="@{/orders/{id}/checkout(id=${order.id})}">
                                    [[#{order.checkout}]]
                                </a>
                            </td>

                            <td th:unless="${order.status.name() == 'NEW'}">
                                <a th:href="@{/orders/{id}(id=${order.id})}">
                                    [[#{order.details}]]
                                </a>
                            </td>

                            <td class="cart__close" th:if="${order.status.name() == 'NEW'}">
                                <form th:method="DELETE" th:action="@{/orders/{id}(id=${order.id})}">
                                    <button class="icon_close" type="submit"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->

<!-- Footer Begin -->
<div th:insert="~{fragments/footer :: #footer-fragment}"></div>
<!-- Footer End -->

<!-- Js Plugins -->
<th:block th:insert="~{fragments/js-plugins :: script}"></th:block>
</body>

</html>