<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>[[#{menu.orders}]]</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="1" align="center">
    <tr>
        <th>[[#{order.table.row.CreatedDate}]]</th>
        <th>[[#{order.table.row.Status}]]</th>
        <th>[[#{order.table.row.Sum}]]</th>
    </tr>

    <td th:text="${#temporals.format(order.created,'dd MMMM yyyy HH:mm')}">created</td>
    <td th:text="${order.status}">status</td>
    <td th:text="${order.sum}">sum</td>
</table>

<hr>

<table border="1" align="center">
    <tr>
        <th>[[#{order.table.row.ProductId}]]</th>
        <th></th>
        <th>[[#{order.table.row.ProductName}]]</th>
        <th>[[#{order.table.row.ProductPrice}]]</th>
    </tr>

    <tr th:each="detail : ${order.details}">
        <td th:text="${detail.product.id}">id</td>
        <td>
            <a th:href="@{/products/{id}(id=${detail.product.id})}">
                <img th:src="@{/image/{id}(id=${detail.product.previewImage.id})}" height="60px"
                     th:alt="${detail.product.productTitles['__${language.id}__']}">
            </a>
        </td>
        <td>
            <a th:href="@{/products/{id}(id=${detail.product.id})}">
                <div th:text="${detail.product.productTitles['__${language.id}__']}">
                    productTitles
                </div>
            </a>
        </td>
        <td th:text="${detail.product.price}">price</td>

    </tr>
</table>


</body>
</html>