<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <title>[[#{menu.orders}]]</title>
</head>

<body>
<div th:insert="~{fragments/header :: #header-fragment}"></div>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="index.html"><i class="fa fa-home"></i>[[#{menu.home}]]</a>
                    <a th:href="@{/orders}">[[#{menu.orderList}]]</a>
                    <span>[[#{menu.order}]]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th>[[#{order.table.row.Product}]]</th>
                            <th>[[#{order.table.row.ProductPrice}]]</th>
                            <th>[[#{order.table.row.Amount}]]</th>
                            <th>[[#{order.table.row.Sum}]]</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:each="detail : ${order.details}">
                        <tr>
                            <td class="cart__product__item">

                                <a th:href="@{/products/{id}(id=${detail.product.id})}">
                                    <img th:src="@{/image/{id}(id=${detail.product.previewImage.id})}" height="60px"
                                         th:alt="${detail.product.productTitles['__${language.id}__']}">
                                    <div class="cart__product__item__title">
                                        <h6 th:text="${detail.product.productTitles['__${language.id}__']}">title</h6>
                                    </div>
                                </a>
                            </td>
                            <td class="cart__price" th:text="${detail.price + ' UAH'}">$ 150.0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5 m-auto">
                <div class="cart__total__procced">
                    <ul>
                        <li>[[#{order.table.row.CreatedDate}]] <span th:text="${#temporals.format(order.created,'dd MMMM yyyy HH:mm')}">created</span></li>
                        <li>[[#{order.table.row.Status}]] <span th:text="${order.status}">status</span></li>
                        <li>[[#{order.table.row.Sum}]] <span th:text="${order.sum + ' UAH'}">$ 750.0</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->

<!-- Footer Begin -->
<div th:insert="~{fragments/footer :: #footer-fragment}"></div>
<!-- Footer End -->

<!-- Js Plugins -->
<th:block th:insert="~{fragments/js-plugins :: script}"></th:block>
</body>

</html>