<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin [[#{menu.outfits}]]</title>

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div th:each="outfit, iStat : ${outfitPage.content}">
    <a th:href="@{/outfits/{id}(id=${outfit.id})}">
        <img th:src="@{/image/{id}(id=${outfit.previewImage.id})}" height="60px"
             th:alt="${outfit.outfitTitles['__${language.id}__']}">
        <br>
        <span th:text="*{outfit.outfitTitles['__${language.id}__']}">title</span>
        <b><span th:text="*{outfit.price}">price</span></b>
    </a>
</div>
<br>

<div th:if="${outfitPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/outfits(size=${outfitPage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==outfitPage.number + 1} ? active"></a>
</div>

</body>
</html>