<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head>
    <meta charset="UTF-8">
    <title>[[#{profile.title}]]</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<h1>[[#{profile.title}]]</h1>

<form th:method="POST" th:action="@{/profile}" th:object="${updateUserDTO}">
    <input type="text" th:field="*{id}" id="id" hidden/>

    <label for="firstname">[[#{profile.firstname}]]: </label>
    <input type="text" th:field="*{firstname}" id="firstname"/>
    <div style="color: red" th:if="${#fields.hasErrors('firstname') }" th:errors="*{firstname}">firstname error</div>

    <br>
    <label for="lastname">[[#{profile.lastname}]]: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastname') }" th:errors="*{lastname}">lastname error</div>

    <br>
    <label for="email">[[#{profile.email}]]: </label>
    <input type="email" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email') }" th:errors="*{email}">email error</div>

    <br>
    <label for="phone">[[#{profile.phone}]]: </label>
    <input type="tel" th:field="*{phone}" id="phone">
    <div style="color: red" th:if="${#fields.hasErrors('phone') }" th:errors="*{phone}">phone error</div>

    <br>
    <button type="submit">[[#{profile.save}]]</button>
</form>

<a th:href="@{/profile/password}">[[#{profile.editPass}]]</a>





</body>
</html>