<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:insert="~{fragments/head :: link}"></th:block>
     <title>[[#{profile.title}]]</title>
</head>

<body>
<div th:insert="~{fragments/header :: #header-fragment}"></div>


<h1>[[#{profile.title}]]</h1>

<form th:method="POST" th:action="@{/profile}" th:object="${updateUserDTO}">
    <input type="text" th:field="*{id}" id="id" hidden/>

    <label for="firstname">[[#{profile.firstname}]]: </label>
    <input type="text" th:field="*{firstname}" id="firstname"/>
    <div style="color: red" th:if="${#fields.hasErrors('firstname') }" th:errors="*{firstname}">firstname error</div>

    <br>
    <label for="lastname">[[#{profile.lastname}]]: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastname') }" th:errors="*{lastname}">lastname error</div>

    <br>
    <label for="email">[[#{profile.email}]]: </label>
    <input type="email" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email') }" th:errors="*{email}">email error</div>

    <br>
    <label for="phone">[[#{profile.phone}]]: </label>
    <input type="tel" th:field="*{phone}" id="phone">
    <div style="color: red" th:if="${#fields.hasErrors('phone') }" th:errors="*{phone}">phone error</div>

    <br>
    <button type="submit">[[#{profile.save}]]</button>
</form>

<a th:href="@{/profile/password}">[[#{profile.editPass}]]</a>





<!-- Footer Begin -->
<div th:insert="~{fragments/footer :: #footer-fragment}"></div>
<!-- Footer End -->

<!-- Js Plugins -->
<th:block th:insert="~{fragments/js-plugins :: script}"></th:block>
</body>

</html>