<!DOCTYPE html>
<html th:lang="#{html.lang}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:insert="~{fragments/head :: link}"></th:block>
    <title>[[#{registration.title}]]</title>
</head>

<body>
<div th:insert="~{fragments/header :: #header-fragment}"></div>

<div class="container login-container">
    <div class="row">
        <div class="col-6 mx-auto contact__form">
            <h3 class="text-center">[[#{registration.title}]]</h3>
            <form th:method="POST" th:action="@{/registration}" th:object="${userDTO}">

                <div class="error-message" th:if="${#fields.hasErrors('firstname') }" th:errors="*{firstname}">firstname error</div>
                <input type="text" th:field="*{firstname}" id="firstname" th:placeholder="#{registration.firstname}">

                <div class="error-message" th:if="${#fields.hasErrors('lastname') }" th:errors="*{lastname}">lastname error</div>
                <input type="text" th:field="*{lastname}" id="lastname" th:placeholder="#{registration.lastname}">

                <div class="error-message" th:if="${#fields.hasErrors('email') }" th:errors="*{email}">email error</div>
                <input type="text" th:field="*{email}" id="email" th:placeholder="#{registration.email}">

                <div class="error-message" th:if="${#fields.hasErrors('phone') }" th:errors="*{phone}">phone error</div>
                <input type="tel" th:field="*{phone}" id="phone" th:placeholder="#{registration.phone}">

                <div class="error-message" th:if="${#fields.hasErrors('password') }" th:errors="*{password}">password error</div>
                <input type="text" th:field="*{password}" id="password" th:placeholder="#{registration.password}">

                <div class="error-message" th:if="${#fields.hasErrors('matchingPassword') }" th:errors="*{matchingPassword}">matchingPassword error</div>
                <input type="text" th:field="*{matchingPassword}" id="matchingPassword" th:placeholder="#{registration.matchingPassword}">

                <div class="text-center">
                    <button type="submit" class="site-btn">[[#{registration.create}]]</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer Begin -->
<div th:insert="~{fragments/footer :: #footer-fragment}"></div>
<!-- Footer End -->

<!-- Js Plugins -->
<th:block th:insert="~{fragments/js-plugins :: script}"></th:block>
</body>

</html>
