<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head>
  <meta charset="UTF-8">
  <title>[[#{message.resetPassword}]]</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<form th:method="POST" th:action="@{/updatePassword}" th:object="${passwordDto}">
  <label for="newPassword">[[#{registration.password}]]: </label>
  <input type="text" th:field="*{newPassword}" id="newPassword"/>
  <div style="color: red" th:if="${#fields.hasErrors('newPassword') }" th:errors="*{newPassword}">newPassword error</div>

  <br>
  <label for="matchingPassword">[[#{registration.matchingPassword}]]: </label>
  <input type="text" th:field="*{matchingPassword}" id="matchingPassword"/>
  <div style="color: red" th:if="${#fields.hasErrors('matchingPassword') }" th:errors="*{matchingPassword}">matchingPassword error</div>

  <input type="text" th:field="*{token}" hidden id="token"/>

  <button type="submit">[[#{profile.save}]]</button>
</form>



</body>
</html>


