<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>


<table id="nav-menu" width="100%" align="center">
    <tr>
        <td align="center">
            <table>
                <tr>
                    <td sec:authorize="hasAnyAuthority('SUPERADMIN', 'MANAGER')">
                        <a th:href="@{/admin/products}">Products</a>
                    </td>
                    <td sec:authorize="hasAnyAuthority('SUPERADMIN', 'MANAGER')">
                        <a th:href="@{/admin/outfits}">Outfits</a>
                    </td>
                    <td sec:authorize="hasAnyAuthority('SUPERADMIN', 'MANAGER')">
                        <a th:href="@{/admin/categories}">Categories</a>
                    </td>
                    <td sec:authorize="hasAnyAuthority('SUPERADMIN', 'MANAGER')">
                        <a th:href="@{/admin/filters}">Filters</a>
                    </td>
                    <td sec:authorize="hasAnyAuthority('SUPERADMIN', 'MANAGER')">
                        <a th:href="@{/admin/orders?status=CREATED}">Orders</a>
                    </td>
                    <td sec:authorize="hasAnyAuthority('SUPERADMIN', 'MANAGER')">
                        <a th:href="@{/admin/users}">Users</a>
                    </td>
                </tr>
            </table>
        </td>
        <td align="right">

        </td>
    </tr>
</table>


</body>
</html>